{% extends "home.html" %}
{% load staticfiles %}

{% block navbar %}
<link rel="stylesheet" href="{% static "/css/initiate.css" %}">

      <div class="container" align = "center">

        <br>
        <form class="initiate" method="post" name="initiate" action="initiate">
        {% csrf_token %}
        {% if genesis_block %}
        <div class="container">
<hr>
        <table>
          <div class="theading">
            Genesis Block
          </div>

          <tr>
          <td>
            Previous Hash
          </td>
          <td>
            {{ genesis_block.0.previous_hash }}
          </td>
          </tr>

          <tr>
          <td>
            Current Hash
          </td>
          <td>
            {{ genesis_block.0.hash }}
          </td>
          </tr>

          <tr>
          <td>
            Nonce
          </td>
          <td>
            {{ genesis_block.0.nonce }}
          </td>
          </tr>

          <tr>
          <td>
            Timestamp
          </td>
          <td>
            {{ genesis_block.0.timestamp }}
          </td>
          </tr>


        </table>

      </div>
        {% else %}
        <h2 >Click here to initiate the Genesis block of the Blockchain</h2>
        <input class = "btn btn-success" type="submit" name="start" value="Start Blockchain">
        <hr>
        {% endif %}
        </form>
      </div>


{% endblock %}
