{% extends "home.html" %}
{% load staticfiles %}

{% block navbar %}
<link rel="stylesheet" media="screen" href="{% static "/css/particles.css" %}">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- particles.js container -->

<div id="particles-js">

</div> <!-- For particles js div -->

<!-- <h1>Stages of a plant</h1> -->

<div class="row">
    <div class="col-lg-2 col-sm-6">

      <!-- <div class="card h-100">
        <div class="card-body" align="center">
          <h5 class="card-title">Seed</h5>
          <p class="card-text">The seeds are planted into the soil</p>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          <form class="Btn_display" method="post">
          {% csrf_token %}
            <input class = "btn" type="submit" name="seedbtn" value="Click here to view more">
          </form>
        </div>
      </div> -->

      <div
      class="fancy-card bi1"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0">
        <div class="top">
          <div class="caption">
            <h3 class="title">Seed</h3>
            <p class="card-text">Seeds are planted into the soil</p>
            <form class="Btn_display" method="post">
            {% csrf_token %}
              <input class = "btn" type="submit" name="seedbtn" id="seedid" value="Click here to view more">
            </form>
          </div>
        </div>
        <div class="middle"></div>
        <div class="bottom"></div>
      </div>

    </div>

<!-- <span class="glyphicon glyphicon-link" aria-hidden="true"></span> -->

    <div class="col-lg-2 col-sm-6">
      <!-- <div class="card h-100">
        <div class="card-body" align="center">
          <h5 class="card-title">Sapling </h5>
          <p class="card-text">Saplings of around 12 inches</p>
          <form class="Btn_display" method="post">
          {% csrf_token %}
            <input class = "btn" type="submit" name="saplingsbtn" value="Click here to view more">
          </form>
        </div>
      </div> -->

      <div
      class="fancy-card bi2"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0">
        <div class="top">
          <div class="caption">
            <h3 class="title">Sapling</h3>
            <p class="card-text">Saplings of around 12 inches</p>
            <form class="Btn_display" method="post">
            {% csrf_token %}
              <input class = "btn" type="submit" name="saplingsbtn" id="saplingsid" value="Click here to view more">
            </form>
          </div>
        </div>
        <div class="middle"></div>
        <div class="bottom"></div>
      </div>
    </div>

    <div class="col-lg-2 col-sm-6">

      <!-- <div class="card h-100">
        <div class="card-body" align="center">
          <h5 class="card-title">Plant</h5>
          <p class="card-text">Plant of around 3 feet</p>
          <form class="Btn_display" method="post">
          {% csrf_token %}
            <input class = "btn" type="submit" name="plantbtn" value="Click here to view more">
          </form>
        </div>
      </div> -->

      <div
      class="fancy-card bi3"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0">
        <div class="top">
          <div class="caption">
            <h3 class="title">Plant</h3>
            <p class="card-text">Plant of around 3 feet</p>
            <form class="Btn_display" method="post">
            {% csrf_token %}
              <input class = "btn" type="submit" name="plantbtn" id="plantid" value="Click here to view more">
            </form>
          </div>
        </div>
        <div class="middle"></div>
        <div class="bottom"></div>
      </div>

    </div>

    <div class="col-lg-2 col-sm-6">

      <!-- <div class="card h-100">
        <div class="card-body" align="center">
          <h5 class="card-title">Flower Stage</h5>
          <p class="card-text">Flower formation at each plant's </p>
          <form class="Btn_display" method="post">
          {% csrf_token %}
            <input class = "btn" type="submit" name="flowerbtn" value="Click here to view more">
          </form>
        </div>
      </div> -->

      <div
      class="fancy-card bi4"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0">
        <div class="top">
          <div class="caption">
            <h3 class="title">Flower Stage</h3>
            <p class="card-text">Formation of flowers at each plant </p>
            <form class="Btn_display" method="post">
            {% csrf_token %}
              <input class = "btn" type="submit" name="flowerbtn" id="flowerid" value="Click here to view more">
            </form>
          </div>
        </div>
        <div class="middle"></div>
        <div class="bottom"></div>
      </div>

    </div>

    <div class="col-lg-2 col-sm-6">

      <!-- <div class="card h-100">
        <div class="card-body" align="center">
          <h5 class="card-title">Fruit Development</h5>
          <p class="card-text">Fruit formation starts at this stage</p>
          <form class="Btn_display" method="post">
          {% csrf_token %}
            <input class = "btn" type="submit" name="fruitbtn" value="Click here to view more">
          </form>
        </div>
      </div> -->

      <div
      class="fancy-card bi5"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0">
        <div class="top">
          <div class="caption">
            <h3 class="title">Fruit Development</h3>
            <p class="card-text">Formation of fruits start at this stage</p>
            <form class="Btn_display" method="post">
            {% csrf_token %}
              <input class = "btn" type="submit" name="fruitbtn" id="fruitid" value="Click here to view more">
            </form>
          </div>
        </div>
        <div class="middle"></div>
        <div class="bottom"></div>
      </div>

    </div>

    <div class="col-lg-2 col-sm-6">

      <!-- <div class="card h-100">
        <div class="card-body" align="center">
          <h5 class="card-title">Fruit Ripening / Harvesting</h5>
          <p class="card-text"> Fruit changes color from light green to red, and finally dark red or orange</p>
          <form class="Btn_display" method="post">
          {% csrf_token %}
            <input class = "btn" type="submit" name="harvestbtn" value="Click here to view more">
          </form>
        </div>
      </div> -->

      <div
      class="fancy-card bi6"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0">
        <div class="top">
          <div class="caption">
            <h3 class="title">Fruit Ripening / Harvesting</h3>
            <p class="card-text"> Fruit changes color from light green to red, and finally dark red or orange</p>
            <form class="Btn_display" method="post">
            {% csrf_token %}
              <input class = "btn" type="submit" name="harvestbtn" id="harvestid" value="Click here to view more">
            </form>
          </div>
        </div>
        <div class="middle"></div>
        <div class="bottom"></div>
      </div>

    </div>


</div>
<br><br>
{% if clicked == "seedclick" %}
<br>
    <table
    align="center"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="1000"
    data-aos-offset="0">>
      <div
      class="theading"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0"
      align="center">
        Seed Stage
      </div>
<br>
      <tr>
      <td>
        Timeline
      </td>
      <td>
        {{ context.0 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Temperature
      </td>
      <td>
        {{ context.1 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Moisture
      </td>
      <td>
        {{ context.2 }}
      </td>
      </tr>

      <tr>
      <td>
        Leaf Wetness
      </td>
      <td>
        {{ context.3 }}
      </td>
      </tr>

      <tr>
      <td>
        Stem Diameter
      </td>
      <td>
        {{ context.4 }}
      </td>
      </tr>

      <tr>
      <td>
        pH
      </td>
      <td>
        {{ context.5 }}
      </td>
      </tr>

    </table>


{% endif %}
<br>
{% if clicked == "saplingsclick" %}
<br>
    <table
    align="center"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="1000"
    data-aos-offset="0">
      <div
      class="theading"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0"
      align="center">
        Saplings Stage
      </div>
<br>
      <tr>
      <td>
        Timeline
      </td>
      <td>
        {{ context.0 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Temperature
      </td>
      <td>
        {{ context.1 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Moisture
      </td>
      <td>
        {{ context.2 }}
      </td>
      </tr>

      <tr>
      <td>
        Leaf Wetness
      </td>
      <td>
        {{ context.3 }}
      </td>
      </tr>

      <tr>
      <td>
        Stem Diameter
      </td>
      <td>
        {{ context.4 }}
      </td>
      </tr>

      <tr>
      <td>
        pH
      </td>
      <td>
        {{ context.5 }}
      </td>
      </tr>

    </table>


{% endif %}

{% if clicked == "plantclick" %}
<br>
    <table
    align="center"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="1000"
    data-aos-offset="0">
      <div
      class="theading"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0"
      align="center">
        Plant Stage
      </div>
<br>
      <tr>
      <td>
        Timeline
      </td>
      <td>
        {{ context.0 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Temperature
      </td>
      <td>
        {{ context.1 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Moisture
      </td>
      <td>
        {{ context.2 }}
      </td>
      </tr>

      <tr>
      <td>
        Leaf Wetness
      </td>
      <td>
        {{ context.3 }}
      </td>
      </tr>

      <tr>
      <td>
        Stem Diameter
      </td>
      <td>
        {{ context.4 }}
      </td>
      </tr>

      <tr>
      <td>
        pH
      </td>
      <td>
        {{ context.5 }}
      </td>
      </tr>

    </table>


{% endif %}

{% if clicked == "flowerclick" %}
<br>
    <table
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="1000"
    data-aos-offset="0"
    align="center">
      <div
      class="theading"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0"
      align="center">
        Flower Stage
      </div>
<br>
      <tr>
      <td>
        Timeline
      </td>
      <td>
        {{ context.0 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Temperature
      </td>
      <td>
        {{ context.1 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Moisture
      </td>
      <td>
        {{ context.2 }}
      </td>
      </tr>

      <tr>
      <td>
        Leaf Wetness
      </td>
      <td>
        {{ context.3 }}
      </td>
      </tr>

      <tr>
      <td>
        Stem Diameter
      </td>
      <td>
        {{ context.4 }}
      </td>
      </tr>

      <tr>
      <td>
        pH
      </td>
      <td>
        {{ context.5 }}
      </td>
      </tr>

    </table>


{% endif %}

{% if clicked == "fruitclick" %}
<br>
    <table
    align="center"
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="1000"
    data-aos-offset="0">
      <div
      class="theading"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0"
      align="center">
        Fruit Stage
      </div>
<br>
      <tr>
      <td>
        Timeline
      </td>
      <td>
        {{ context.0 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Temperature
      </td>
      <td>
        {{ context.1 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Moisture
      </td>
      <td>
        {{ context.2 }}
      </td>
      </tr>

      <tr>
      <td>
        Leaf Wetness
      </td>
      <td>
        {{ context.3 }}
      </td>
      </tr>

      <tr>
      <td>
        Stem Diameter
      </td>
      <td>
        {{ context.4 }}
      </td>
      </tr>

      <tr>
      <td>
        pH
      </td>
      <td>
        {{ context.5 }}
      </td>
      </tr>

    </table>


{% endif %}

{% if clicked == "harvestclick" %}
<br>
    <table
    data-aos="fade-zoom-in"
    data-aos-easing="ease-in-back"
    data-aos-delay="1000"
    data-aos-offset="0">
      <div
      class="theading"
      data-aos="fade-zoom-in"
      data-aos-easing="ease-in-back"
      data-aos-delay="500"
      data-aos-offset="0"
      align="center">
        Harvest Stage
      </div>
<br>
      <tr>
      <td>
        Timeline
      </td>
      <td>
        {{ context.0 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Temperature
      </td>
      <td>
        {{ context.1 }}
      </td>
      </tr>

      <tr>
      <td>
        Soil Moisture
      </td>
      <td>
        {{ context.2 }}
      </td>
      </tr>

      <tr>
      <td>
        Leaf Wetness
      </td>
      <td>
        {{ context.3 }}
      </td>
      </tr>

      <tr>
      <td>
        Stem Diameter
      </td>
      <td>
        {{ context.4 }}
      </td>
      </tr>

      <tr>
      <td>
        pH
      </td>
      <td>
        {{ context.5 }}
      </td>
      </tr>

    </table>


{% endif %}

<!-- <hr>
  <div class="card">
    <div class="card-body" align="center">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn ">Click here to view more</a>
    </div>
  </div>

</div> -->

<!-- scripts -->
<!-- <script src="{% static "/javascript/particles.js" %}"></script> -->
<script src="{% static "/javascript/app.js" %}"></script>



{% endblock %}
