body{
  background-image: url(growth.jpg);
  background-size : 100%;
  color: white;
  /* font-size: 11px; */
}

h1, h3{
  color: white;
  background: inherit;
}

h1{
  margin-bottom: 20px;
}
.nav-link{
  color: white !important;
}
